@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css2?family=Gloock&display=swap);

body {
  background: black;
  font-family: "Helvetica Neue", "Inter", Arial;
  scroll-behavior: smooth;
  @apply text-[16px] md:text-[20px];
}

h1 {
  @apply p-0;
}

.title {
  @apply font-medium uppercase text-6xl lg:text-[8vw] lg:leading-[1];
}

.h2-serif {
  @apply text-[40px] leading-[40px] md:text-[70px] md:leading-[70px];
  font-family: "Gloock";
}

.h1-sans {
  @apply text-[30px] leading-[30px] md:text-[5.5vw] md:leading-[5.5vw];
}

.project-header {
  @apply text-[30px] leading-[30px] md:text-[40px] md:leading-[50px];
}

.h2-sans {
  @apply text-[30px] leading-[30px] md:text-[40px] md:leading-[50px];
}

.h1-serif {
  font-family: "Gloock";
  @apply font-normal text-[60px] md:text-[5.5vw];
}

.p-sans {
  line-height: 25px;
  text-transform: uppercase;
}

.p-lowercase {
  @apply text-[16px] md:text-[20px];
  line-height: 25px;
  text-align: left;
}

.footer-title {
  @apply text-white;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-link {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-link {
  @apply text-black mix-blend-difference;
}

input,
textarea {
  @apply pb-3 bg-white border-b-2 border-black outline-none md:pb-6 placeholder:text-gray placeholder:uppercase;
}

button {
  @apply uppercase leading-tight text-black font-medium text-6xl bg-none border-b-8 border-black lg:text-[8vw];
}